---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="ml-4 border-l-2 pl-4">
  <h1 class="text-xl font-bold text-skin-base">{title}</h1>
  <p class="text-skin-muted mt-2 text-sm">
    <slot />
  </p>
</div>
